In [1]:
import os

import urllib.request
import urllib.parse
import urllib.error
import http
import json
import time
import ssl
import sys

import pandas as pd

import geopandas as gpd
import fiona

fiona.drvsupport.supported_drivers['KML'] = 'rw'
fiona.drvsupport.supported_drivers['LIBKML'] = 'rw'

In [2]:
# Create directories
current_wd = os.getcwd() #Path of current working directory
try:
    os.mkdir('{}/post_processed_data'.format(os.path.dirname(current_wd)))
except:
    pass

In [3]:
# Load datasets
df_2020 = pd.read_csv('../processed_data/df_2020.csv',
                      usecols=['COUNTRYEXPORT', 'COUNTRYORIGIN', 
                               'CUSTOMSVALUE', 'EXCHANGE_RATE',
                               'VAT_PAID'])
df_2019 = pd.read_csv('../processed_data/df_2019.csv',
                      usecols=['COUNTRYEXPORT', 'COUNTRYORIGIN',
                               'CUSTOMSVALUE', 'EXCHANGE_RATE',
                               'VAT_PAID'])
df_2018 = pd.read_csv('../processed_data/df_2018.csv',
                      usecols=['COUNTRYEXPORT', 'COUNTRYORIGIN',
                               'CUSTOMSVALUE', 'EXCHANGE_RATE',
                               'VAT_PAID'])
df_2017 = pd.read_csv('../processed_data/df_2017.csv',
                      usecols=['COUNTRYEXPORT', 'COUNTRYORIGIN',
                               'CUSTOMSVALUE', 'EXCHANGE_RATE',
                               'VAT_PAID'])
df_2016 = pd.read_csv('../processed_data/df_2016.csv',
                      usecols=['COUNTRYEXPORT', 'COUNTRYORIGIN',
                               'CUSTOMSVALUE', 'EXCHANGE_RATE',
                               'VAT_PAID'])

In [4]:
# Remove outlier
df_2019.sort_values(by='VAT_PAID', ascending=False).head(1)

        COUNTRYORIGIN COUNTRYEXPORT  CUSTOMSVALUE  EXCHANGE_RATE     VAT_PAID
1904201            AU     AUSTRALIA   40193796.89         52.313  27344626419

In [5]:
df_2019 = df_2019[-df_2019['VAT_PAID']==538483406146]

In [6]:
# Append all datasets
df_all = pd.DataFrame()
df_all = (df_all.append(
    df_2020.append(
        df_2019.append(
            df_2018.append(
            df_2017.append(df_2016))))))

In [7]:
# Add CUSTOMSVALUE_PHP
df_all['CUSTOMSVALUEPHP'] = df_all['CUSTOMSVALUE'] * df_all['EXCHANGE_RATE']

In [8]:
(df_all.groupby('COUNTRYEXPORT').size()
                                .to_frame()
                                .reset_index()
                                .rename(columns={0:'count'})
                                .sort_values(by='count', ascending=False))

               COUNTRYEXPORT    count
41                     CHINA  2528531
101                    JAPAN  1750781
175                SINGAPORE   957342
205            UNITED STATES   911239
90                 HONG KONG   497924
..                       ...      ...
15                   BAHAMAS        1
73     Former Czechoslovakia        1
146                     NIUE        1
162                 Pitcairn        1
43   COCOS (KEELING) ISLANDS        1

[219 rows x 2 columns]

In [9]:
# Check countries with 1 transaction count
check = (df_all.groupby('COUNTRYEXPORT').size()
                                .to_frame()
                                .reset_index()
                                .rename(columns={0:'count'})
                                .sort_values(by='count', ascending=False))
check[check['count']==1]

               COUNTRYEXPORT  count
63                   ERITREA      1
57          Democratic yemen      1
55                  DOMINICA      1
126               MARTINIQUE      1
86             GUINEA-BISSAU      1
36                CAPE VERDE      1
32              Br.ind.oc.tr      1
183               ST. HELENA      1
15                   BAHAMAS      1
73     Former Czechoslovakia      1
146                     NIUE      1
162                 Pitcairn      1
43   COCOS (KEELING) ISLANDS      1

In [10]:
# Investigate countries
df_all[df_all['COUNTRYEXPORT'] == 'Br.ind.oc.tr']

,COUNTRYORIGIN,COUNTRYEXPORT,CUSTOMSVALUE,EXCHANGE_RATE,VAT_PAID,CUSTOMSVALUEPHP
158499,GB,Br.ind.oc.tr,2275.1,51.55,15480.0,117281.405

In [11]:
# Investigate countries
df_all[df_all['COUNTRYEXPORT'] == 'Former Czechoslovakia']

,COUNTRYORIGIN,COUNTRYEXPORT,CUSTOMSVALUE,EXCHANGE_RATE,VAT_PAID,CUSTOMSVALUEPHP
1276757,Former Czechoslovakia,Former Czechoslovakia,914.87,47.855,7248.0,43781.10385

In [12]:
# Get all unique countries
df_all['COUNTRYEXPORT'].unique()

array(['CHINA', 'HONG KONG', 'INDONESIA', 'RUSSIAN FEDERATION',
       'VIET NAM', 'MALAYSIA', 'KOREA, REPUBLIC OF', 'QATAR', 'JAPAN',
       'UKRAINE', nan, 'BRAZIL', 'TAIWAN, PROVINCE OF CHINA', 'AUSTRALIA',
       'SRI LANKA', 'GERMANY, FEDERAL REPUBLIC OF', 'UNITED STATES',
       'INDIA', 'THAILAND', 'SWITZERLAND', 'ITALY', 'NETHERLANDS',
       'SINGAPORE', 'FINLAND', 'CAMBODIA', 'BANGLADESH', 'LATVIA',
       'NEW ZEALAND', 'BELGIUM', 'UNITED KINGDOM', 'CANADA',
       'UNITED ARAB EMIRATES', 'SWEDEN', 'PORTUGAL', 'AUSTRIA', 'POLAND',
       'FRANCE', 'TURKEY', 'DENMARK', 'MEXICO', 'ISRAEL', 'SPAIN',
       'SAUDI ARABIA', 'HUNGARY', 'PAKISTAN', 'ROMANIA',
       'MYANMAR (former BURMA)', 'ARGENTINA', 'IRELAND', 'URUGUAY',
       'PERU', 'MACAU', 'SOLOMON ISLANDS', 'SOUTH AFRICA', 'MALDIVES',
       'CHILE', 'GREECE', 'EGYPT', 'LUXEMBOURG', 'TAJIKISTAN', 'PANAMA',
       'MADAGASCAR', 'NORWAY', "KOREA, DEM. PEOPLE'S REP.", 'KENYA',
       'JORDAN', 'FIJI', 'COSTA RICA', 'GEORGIA', 'MOLDOVA', 'GUAM',
       'LITHUANIA', 'SLOVENIA', 'CZECH REPUBLIC', 'BULGARIA', 'OMAN',
       'BRUNEI DARUSSALAM', "COTE D'IVOIRE", 'ESTONIA',
       'REPUBLIC OF SERBIA', 'CROATIA', 'BAHRAIN', 'COLOMBIA', 'KUWAIT',
       'GABON', 'BOLIVIA', 'CYPRUS', 'GUATEMALA', 'FAEROE ISLANDS',
       'BOSNIA-HERCEGOVINA', 'GUYANA', 'CUBA', 'DOMINICAN REPUBLIC',
       'LIECHTENSTEIN', 'MOROCCO', 'ANGOLA', 'Neutral zone', 'TUNISIA',
       'IRAN, ISLAMIC REPUBLIC OF', 'YUGOSLAVIA (former Fed. of)',
       'PUERTO RICO', 'PAPUA NEW GUINEA', 'MAURITIUS', 'SLOVAKIA',
       'LEBANON', 'EL SALVADOR', 'NORTHERN MARIANAS',
       'YUGOSLAV REP. OF MACEDONIA', 'MALTA',
       "LAO PEOPLE'S DEMOCRATIC REPUBLIC", 'NAMIBIA', 'HONDURAS', 'GHANA',
       'TANZANIA, UNITED REPUBLIC OF', 'PARAGUAY', 'ECUADOR',
       'MARSHALL ISLANDS', 'EQUATORIAL GUINEA', 'ZIMBABWE', 'NIGERIA',
       'KIRIBATI', 'VANUATU', 'NAURU', 'SEYCHELLES', 'PHILIPPINES',
       'NETHERLANDS ANTILLES', 'LESOTHO', 'SIERRA LEONE', 'MONACO',
       'BELARUS', 'MOZAMBIQUE', 'MONGOLIA', 'SUDAN', 'UZBEKISTAN',
       'CAMEROON', 'CHRISTMAS ISLANDS', 'BELIZE', 'SURINAME',
       'FRENCH POLYNESIA', 'Andorra', 'JAMAICA', 'IRAQ', 'NICARAGUA',
       'CHAD', 'ETHIOPIA', 'MALAWI', 'NORFOLK ISLAND', 'ANGUILLA',
       'CONGO', 'MARTINIQUE', 'ZAMBIA', 'SENEGAL', 'SYRIAN ARAB REPUBLIC',
       'SAMOA', 'FED. STATES OF MICRONESIA', 'AMERICAN SAMOA', 'TUVALU',
       'TOGO', 'CENTRAL AFRICAN REPUBLIC', 'BRITISH VIRGIN ISLANDS',
       'MONTSERRAT', 'BOTSWANA', 'PALAU', 'GIBRALTAR', 'Br.ind.oc.tr',
       'NEW CALEDONIA', 'COOK ISLANDS', 'NEPAL', 'REUNION', 'ICELAND',
       'UNITED STATES VIRGIN ISLANDS', 'US MINOR OUTLYING ISLANDS',
       'BERMUDA', 'ALBANIA', 'CAYMAN ISLANDS',
       'WALLIS AND FUTUNA ISLANDS', 'ARMENIA', 'UGANDA',
       'TRINIDAD AND TOBAGO', 'BURKINA FASO', 'GAMBIA', 'ALGERIA',
       'KAZAKHSTAN', 'VENEZUELA', 'ANTIGUA AND BARBUDA', 'AFGHANISTAN',
       'TURKS AND CAICOS ISLANDS', 'KYRGYZSTAN', 'TONGA', 'MALI',
       'SWAZILAND', 'YEMEN', 'ANTARCTICA', 'GUINEA', 'BARBADOS',
       'FRENCH GUIANA', 'ST VINCENT AND GRENADINES', 'LIBERIA', 'ARUBA',
       'SAN MARINO', 'NIGER', 'ST. HELENA', 'SAINT LUCIA', 'HAITI',
       'Pitcairn', 'DOMINICA', 'COCOS (KEELING) ISLANDS', 'AZERBAIJAN',
       'GUINEA-BISSAU', 'EAST TIMOR', 'DJIBOUTI', 'NIUE',
       'BURMA (See MM MYANMAR)', 'CAPE VERDE', 'ERITREA', 'GUADELOUPE',
       'Democratic yemen', 'BAHAMAS', 'Former USSR (for reference)',
       'Former Czechoslovakia'], dtype=object)

In [13]:
# Investigate countries
df_all.loc[df_all['COUNTRYEXPORT']=='YUGOSLAVIA (former Fed. of)', 
           ['COUNTRYEXPORT']]

                       COUNTRYEXPORT
78806    YUGOSLAVIA (former Fed. of)
78807    YUGOSLAVIA (former Fed. of)
78808    YUGOSLAVIA (former Fed. of)
78809    YUGOSLAVIA (former Fed. of)
78810    YUGOSLAVIA (former Fed. of)
...                              ...
1269353  YUGOSLAVIA (former Fed. of)
1269354  YUGOSLAVIA (former Fed. of)
1287940  YUGOSLAVIA (former Fed. of)
1452072  YUGOSLAVIA (former Fed. of)
1452073  YUGOSLAVIA (former Fed. of)

[225 rows x 1 columns]

In [14]:
# Rename Country for Geocoding
df_all.loc[df_all['COUNTRYEXPORT']=='YUGOSLAVIA (former Fed. of)', 
           ['COUNTRYEXPORT']] = 'YUGOSLAVIA'
df_all.loc[df_all['COUNTRYEXPORT']=='YUGOSLAVIA (former Fed. of)', 
           ['COUNTRYEXPORT']]

Empty DataFrame
Columns: [COUNTRYEXPORT]
Index: []

In [15]:
# Investigate countries
df_all.loc[df_all['COUNTRYEXPORT']=='Democratic yemen', ['COUNTRYEXPORT']]

          COUNTRYEXPORT
37786  Democratic yemen

In [16]:
# Rename Country for Geocoding
df_all.loc[df_all['COUNTRYEXPORT']=='Democratic yemen', 
           ['COUNTRYEXPORT']] = 'YEMEN'
df_all.loc[df_all['COUNTRYEXPORT']=='Democratic yemen', ['COUNTRYEXPORT']]

Empty DataFrame
Columns: [COUNTRYEXPORT]
Index: []

In [17]:
# Investigate country
df_all.loc[df_all['COUNTRYEXPORT']=='GERMANY, FEDERAL REPUBLIC OF']

,COUNTRYORIGIN,COUNTRYEXPORT,CUSTOMSVALUE,EXCHANGE_RATE,VAT_PAID,CUSTOMSVALUEPHP
330,DE,"GERMANY, FEDERAL REPUBLIC OF",767383.17,50.603,0.0,3.883189e+07
331,DE,"GERMANY, FEDERAL REPUBLIC OF",14389.97,50.760,0.0,7.304349e+05
332,DE,"GERMANY, FEDERAL REPUBLIC OF",18229.08,50.760,0.0,9.253081e+05
333,DE,"GERMANY, FEDERAL REPUBLIC OF",51199.79,50.760,0.0,2.598901e+06
334,DE,"GERMANY, FEDERAL REPUBLIC OF",9246.97,50.760,0.0,4.693762e+05
...,...,...,...,...,...,...
1647244,"GERMANY, FEDERAL REPUBLIC OF","GERMANY, FEDERAL REPUBLIC OF",1606.00,46.844,0.0,7.523146e+04
1647308,"GERMANY, FEDERAL REPUBLIC OF","GERMANY, FEDERAL REPUBLIC OF",1402.00,46.844,0.0,6.567529e+04
1647423,"GERMANY, FEDERAL REPUBLIC OF","GERMANY, FEDERAL REPUBLIC OF",20.15,47.394,0.0,9.549891e+02
1647442,"GERMANY, FEDERAL REPUBLIC OF","GERMANY, FEDERAL REPUBLIC OF",1400.00,47.193,0.0,6.607020e+04
1647477,"GERMANY, FEDERAL REPUBLIC OF","GERMANY, FEDERAL REPUBLIC OF",40606.94,47.394,0.0,1.924525e+06

In [18]:
# Rename Country for Geocoding
df_all.loc[df_all['COUNTRYEXPORT']=='GERMANY, FEDERAL REPUBLIC OF', 
           ['COUNTRYEXPORT']] = 'GERMANY'
df_all.loc[df_all['COUNTRYEXPORT']=='GERMANY', ['COUNTRYEXPORT']]

        COUNTRYEXPORT
330           GERMANY
331           GERMANY
332           GERMANY
333           GERMANY
334           GERMANY
...               ...
1647244       GERMANY
1647308       GERMANY
1647423       GERMANY
1647442       GERMANY
1647477       GERMANY

[306554 rows x 1 columns]

In [19]:
# Investigate Country
df_all.loc[df_all['COUNTRYEXPORT']=='MYANMAR (former BURMA)']

,COUNTRYORIGIN,COUNTRYEXPORT,CUSTOMSVALUE,EXCHANGE_RATE,VAT_PAID,CUSTOMSVALUEPHP
2191,MM,MYANMAR (former BURMA),38400.00,50.937,0.0,1.955981e+06
3052,MM,MYANMAR (former BURMA),106250.00,50.937,0.0,5.412056e+06
5003,MM,MYANMAR (former BURMA),149760.00,50.937,0.0,7.628325e+06
5080,MM,MYANMAR (former BURMA),9477.22,50.937,66032.0,4.827412e+05
8173,MM,MYANMAR (former BURMA),400760.91,1.000,50177.0,4.007609e+05
...,...,...,...,...,...,...
1550310,MYANMAR (former BURMA),MYANMAR (former BURMA),147941.31,46.833,0.0,6.928535e+06
1573783,MYANMAR (former BURMA),MYANMAR (former BURMA),213435.62,47.007,0.0,1.003297e+07
1626377,MYANMAR (former BURMA),MYANMAR (former BURMA),25280.54,46.844,0.0,1.184242e+06
1628843,MYANMAR (former BURMA),MYANMAR (former BURMA),43572.72,47.394,0.0,2.065085e+06
1635606,MYANMAR (former BURMA),MYANMAR (former BURMA),165556.06,47.394,0.0,7.846364e+06

In [20]:
# Rename Country for Geocoding
df_all.loc[df_all['COUNTRYEXPORT']=='MYANMAR (former BURMA)', 
           ['COUNTRYEXPORT']] = 'MYANMAR'
df_all.loc[df_all['COUNTRYEXPORT']=='MYANMAR (former BURMA)', ['COUNTRYEXPORT']]

Empty DataFrame
Columns: [COUNTRYEXPORT]
Index: []

In [21]:
# Add continents for the following countries for Geocoding
df_all.loc[df_all['COUNTRYEXPORT']=='JORDAN', 
           ['COUNTRYEXPORT']] = 'JORDAN, ASIA'
df_all.loc[df_all['COUNTRYEXPORT']=='GEORGIA', 
           ['COUNTRYEXPORT']] = 'GEORGIA, ASIA'
df_all.loc[df_all['COUNTRYEXPORT']=='TOGO', 
           ['COUNTRYEXPORT']] = 'TOGO, AFRICA'

In [22]:
# Assign 1 as 1 transaction per row
df_all['transactions'] = 1

In [23]:
# Get total transaction and VAT paid per country and save to the path
(df_all.groupby('COUNTRYEXPORT')
       .sum()
       .reset_index()
       .rename(columns={0:'count'})
       .to_csv('../post_processed_data/count_per_country.csv',index=False))

In [24]:
# Remove countries that will be geocoded
countries_data = (df_all[(df_all['COUNTRYEXPORT'].notnull()) &
                         (df_all['COUNTRYEXPORT'] != 'Br.ind.oc.tr') &
                         (df_all['COUNTRYEXPORT'] != 'Neutral zone') &
                         (df_all['COUNTRYEXPORT'] != 'PHILIPPINES') &
                         (df_all['COUNTRYEXPORT'] != 'YUGOSLAVIA') &
                         (df_all['COUNTRYEXPORT'] != 
                          'Former Czechoslovakia') &
                         (df_all['COUNTRYEXPORT'] !=
                          'Former USSR (for reference)')]['COUNTRYEXPORT']
                  .to_list())
countries_data= list(set(countries_data))
countries_data.insert(0, 'PHILIPPINES')

### Geocoding

In [25]:
#!/usr/bin/env python
# coding: utf-8

# API Keys
api_key = False


if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    # api_key = 'AIzaSy___IDByT70'
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

print('Service URL:',serviceurl)

# Additional detail for urllib
http.client.HTTPConnection.debuglevel = 1

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

# Data Load list (addresses)
locsize = len(countries_data)


print('Loading {} locations...'.format(locsize),'\n')

column_names = ['address', 'longhitude', 'latitude']
df = pd.DataFrame(columns = column_names)
count = 0
for address in countries_data:
    count+=1
    
    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print("Searching {}...({}%)".format(address,round((count/locsize*100),2)))
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    
    try:
        js = json.loads(data)
    except:
        print(data)  # print in case unicode causes an error
        continue
    
    # If country cannot be searched
    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue

    df = df.append({'address':address,'longhitude':lng,'latitude':lat},ignore_index=True)
print('Done...')

df.columns = ['Origin','Origin_long', 'Origin_lat']
o,olong,olat = (df[df['Origin']=='PHILIPPINES']['Origin'].iloc[0],
                df[df['Origin']=='PHILIPPINES']['Origin_long'].iloc[0],
                df[df['Origin']=='PHILIPPINES']['Origin_lat'].iloc[0])
df['Destination'],df['Destination_long'],df['Destination_lat'] = o,olong,olat

print("Exporting to longlat.csv...")
df = df[df['Origin']!='Philippines']
df.to_csv('../post_processed_data/longlat.csv',index=False)
print("Done.")

Service URL: http://py4e-data.dr-chuck.net/json?
Loading 213 locations...

Searching PHILIPPINES...(0.47%)
Searching COOK ISLANDS...(0.94%)
Searching BARBADOS...(1.41%)
Searching TAIWAN, PROVINCE OF CHINA...(1.88%)
Searching MARTINIQUE...(2.35%)
Searching VIET NAM...(2.82%)
Searching EGYPT...(3.29%)
Searching ISRAEL...(3.76%)
Searching TURKS AND CAICOS ISLANDS...(4.23%)
Searching KAZAKHSTAN...(4.69%)
Searching SOUTH AFRICA...(5.16%)
Searching UNITED STATES VIRGIN ISLANDS...(5.63%)
Searching PARAGUAY...(6.1%)
Searching ANGUILLA...(6.57%)
Searching KOREA, REPUBLIC OF...(7.04%)
Searching LUXEMBOURG...(7.51%)
Searching NEW CALEDONIA...(7.98%)
Searching KUWAIT...(8.45%)
Searching MALDIVES...(8.92%)
Searching DENMARK...(9.39%)
Searching ANTARCTICA...(9.86%)
Searching ARUBA...(10.33%)
Searching MOLDOVA...(10.8%)
Searching SAUDI ARABIA...(11.27%)
Searching MONTSERRAT...(11.74%)
Searching ANGOLA...(12.21%)
Searching FIJI...(12.68%)
Searching GERMANY...(13.15%)
Searching EQUATORIAL GUINEA...(13.62%)
Searching MADAGASCAR...(14.08%)
Searching LIECHTENSTEIN...(14.55%)
Searching ALBANIA...(15.02%)
Searching MACAU...(15.49%)
Searching MALTA...(15.96%)
Searching GABON...(16.43%)
Searching AZERBAIJAN...(16.9%)
Searching AUSTRALIA...(17.37%)
Searching RUSSIAN FEDERATION...(17.84%)
Searching BELARUS...(18.31%)
Searching MALI...(18.78%)
Searching TURKEY...(19.25%)
Searching CHAD...(19.72%)
Searching CENTRAL AFRICAN REPUBLIC...(20.19%)
Searching VANUATU...(20.66%)
Searching TAJIKISTAN...(21.13%)
Searching JAPAN...(21.6%)
Searching ITALY...(22.07%)
Searching HUNGARY...(22.54%)
Searching GUADELOUPE...(23.0%)
Searching YUGOSLAV REP. OF MACEDONIA...(23.47%)
Searching US MINOR OUTLYING ISLANDS...(23.94%)
Searching WALLIS AND FUTUNA ISLANDS...(24.41%)
Searching LAO PEOPLE'S DEMOCRATIC REPUBLIC...(24.88%)
Searching BRITISH VIRGIN ISLANDS...(25.35%)
Searching ERITREA...(25.82%)
Searching CAPE VERDE...(26.29%)
Searching SURINAME...(26.76%)
Searching BELIZE...(27.23%)
Searching ICELAND...(27.7%)
Searching GIBRALTAR...(28.17%)
Searching CUBA...(28.64%)
Searching MOZAMBIQUE...(29.11%)
Searching BURKINA FASO...(29.58%)
Searching LEBANON...(30.05%)
Searching ETHIOPIA...(30.52%)
Searching ST. HELENA...(30.99%)
Searching ALGERIA...(31.46%)
Searching MOROCCO...(31.92%)
Searching NORWAY...(32.39%)
Searching PANAMA...(32.86%)
Searching SAMOA...(33.33%)
Searching ANTIGUA AND BARBUDA...(33.8%)
Searching JORDAN, ASIA...(34.27%)
Searching BAHAMAS...(34.74%)
Searching AMERICAN SAMOA...(35.21%)
Searching GAMBIA...(35.68%)
Searching TONGA...(36.15%)
Searching FRENCH POLYNESIA...(36.62%)
Searching TUNISIA...(37.09%)
Searching IRAQ...(37.56%)
Searching SLOVENIA...(38.03%)
Searching ZAMBIA...(38.5%)
Searching SAN MARINO...(38.97%)
Searching PERU...(39.44%)
Searching BURMA (See MM MYANMAR)...(39.91%)
Searching ROMANIA...(40.38%)
Searching ZIMBABWE...(40.85%)
Searching BAHRAIN...(41.31%)
Searching NETHERLANDS ANTILLES...(41.78%)
Searching TRINIDAD AND TOBAGO...(42.25%)
Searching BULGARIA...(42.72%)
Searching UKRAINE...(43.19%)
Searching ESTONIA...(43.66%)
Searching FRANCE...(44.13%)
Searching MALAWI...(44.6%)
Searching NORTHERN MARIANAS...(45.07%)
Searching KIRIBATI...(45.54%)
Searching GUATEMALA...(46.01%)
Searching SYRIAN ARAB REPUBLIC...(46.48%)
Searching EL SALVADOR...(46.95%)
Searching BOLIVIA...(47.42%)
Searching MONGOLIA...(47.89%)
Searching HAITI...(48.36%)
Searching ARGENTINA...(48.83%)
Searching SEYCHELLES...(49.3%)
Searching SWEDEN...(49.77%)
Searching EAST TIMOR...(50.23%)
Searching SWITZERLAND...(50.7%)
Searching FINLAND...(51.17%)
Searching LIBERIA...(51.64%)
Searching AUSTRIA...(52.11%)
Searching MALAYSIA...(52.58%)
Searching SRI LANKA...(53.05%)
Searching BOSNIA-HERCEGOVINA...(53.52%)
Searching ST VINCENT AND GRENADINES...(53.99%)
Searching NIUE...(54.46%)
Searching NORFOLK ISLAND...(54.93%)
Searching Pitcairn...(55.4%)
Searching BOTSWANA...(55.87%)
Searching NAMIBIA...(56.34%)
Searching GEORGIA, ASIA...(56.81%)
Searching IRAN, ISLAMIC REPUBLIC OF...(57.28%)
Searching PORTUGAL...(57.75%)
Searching CZECH REPUBLIC...(58.22%)
Searching BERMUDA...(58.69%)
Searching NICARAGUA...(59.15%)
Searching UGANDA...(59.62%)
Searching SIERRA LEONE...(60.09%)
Searching MONACO...(60.56%)
Searching GHANA...(61.03%)
Searching NIGER...(61.5%)
Searching KOREA, DEM. PEOPLE'S REP....(61.97%)
Searching LESOTHO...(62.44%)
Searching INDIA...(62.91%)
Searching CAMBODIA...(63.38%)
Searching SENEGAL...(63.85%)
Searching GUINEA-BISSAU...(64.32%)
Searching PAKISTAN...(64.79%)
Searching MYANMAR...(65.26%)
Searching COTE D'IVOIRE...(65.73%)
Searching FRENCH GUIANA...(66.2%)
Searching NETHERLANDS...(66.67%)
Searching BRAZIL...(67.14%)
Searching COLOMBIA...(67.61%)
Searching CONGO...(68.08%)
Searching DOMINICA...(68.54%)
Searching UNITED STATES...(69.01%)
Searching REPUBLIC OF SERBIA...(69.48%)
Searching POLAND...(69.95%)
Searching KENYA...(70.42%)
Searching CYPRUS...(70.89%)
Searching PUERTO RICO...(71.36%)
Searching NAURU...(71.83%)
Searching LATVIA...(72.3%)
Searching FED. STATES OF MICRONESIA...(72.77%)
Searching UNITED KINGDOM...(73.24%)
Searching URUGUAY...(73.71%)
Searching YEMEN...(74.18%)
Searching NEW ZEALAND...(74.65%)
Searching GUYANA...(75.12%)
Searching DJIBOUTI...(75.59%)
Searching CAMEROON...(76.06%)
Searching BRUNEI DARUSSALAM...(76.53%)
Searching SLOVAKIA...(77.0%)
Searching TUVALU...(77.46%)
Searching MARSHALL ISLANDS...(77.93%)
Searching CAYMAN ISLANDS...(78.4%)
Searching FAEROE ISLANDS...(78.87%)
Searching DOMINICAN REPUBLIC...(79.34%)
Searching AFGHANISTAN...(79.81%)
Searching THAILAND...(80.28%)
Searching HONG KONG...(80.75%)
Searching GREECE...(81.22%)
Searching JAMAICA...(81.69%)
Searching NEPAL...(82.16%)
Searching MEXICO...(82.63%)
Searching OMAN...(83.1%)
Searching KYRGYZSTAN...(83.57%)
Searching PAPUA NEW GUINEA...(84.04%)
Searching COSTA RICA...(84.51%)
Searching GUINEA...(84.98%)
Searching SUDAN...(85.45%)
Searching TOGO, AFRICA...(85.92%)
Searching SOLOMON ISLANDS...(86.38%)
Searching LITHUANIA...(86.85%)
Searching PALAU...(87.32%)
Searching SPAIN...(87.79%)
Searching GUAM...(88.26%)
Searching HONDURAS...(88.73%)
Searching VENEZUELA...(89.2%)
Searching INDONESIA...(89.67%)
Searching SWAZILAND...(90.14%)
Searching QATAR...(90.61%)
Searching Andorra...(91.08%)
Searching CANADA...(91.55%)
Searching TANZANIA, UNITED REPUBLIC OF...(92.02%)
Searching ARMENIA...(92.49%)
Searching SAINT LUCIA...(92.96%)
Searching SINGAPORE...(93.43%)
Searching BANGLADESH...(93.9%)
Searching BELGIUM...(94.37%)
Searching ECUADOR...(94.84%)
Searching IRELAND...(95.31%)
Searching CHINA...(95.77%)
Searching MAURITIUS...(96.24%)
Searching COCOS (KEELING) ISLANDS...(96.71%)
Searching UNITED ARAB EMIRATES...(97.18%)
Searching REUNION...(97.65%)
Searching UZBEKISTAN...(98.12%)
Searching CROATIA...(98.59%)
Searching NIGERIA...(99.06%)
Searching CHRISTMAS ISLANDS...(99.53%)
Searching CHILE...(100.0%)
Done...
Exporting to longlat.csv...
Done.

In [26]:
# Create a kml file to create line string
df['kml'] = ('<Placemark><name>' + df['Destination'] + ' - ' +
             df['Origin'] + '</name><description>'  + df.index.astype(str) +
             '</description><LineString><coordinates>' +
             df['Destination_long'].astype(str) + ',' + 
             df['Destination_lat'].astype(str) + ' ' + 
             df['Origin_long'].astype(str) + ',' + 
             df['Origin_lat'].astype(str) + 
             '</coordinates></LineString></Placemark>')

kml = ('''<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
<Document>\n''' +
'\n'.join(df['kml'].to_list())
+
'''
</Document>
</kml>'''
)

with open('../post_processed_data/geocode.kml', 'w') as f:
    f.writelines(kml)

In [27]:
# Load kml file and convert to a spatial file
kml_f = gpd.read_file("../post_processed_data/geocode.kml")
kml_f.to_file('../post_processed_data/network.shp', driver='ESRI Shapefile')